<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>关于我</title>
</head>

<body>
    <!--导航-->
    <nav th:replace="_fragments :: menu(5)"></nav>

    <!--中间内容-->
    <div class=" m-container m-padding-tb-big">
        <div class="ui container"><!--表示一个容器-->
            <div class="ui stackable grid">
                <div class="eleven wide column">
<!--                    <div class="ui segment">-->
<!--                        <img src="https://unsplash.it/800/600?image=1005" th:src="@{/images/菜树.jpg}" alt="" class="ui rounded image">-->
<!--                    </div>-->
                    <div class="top ui attached segment">
                        <div class="ui header">我的朋友们</div>
                    </div>
                    <div class="ui attached segment">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${newblogs}" th:text="${blog.title}">用户故事（User Story）</a>
                        <a href="https://ntutn.top/"> 归零幻想</a>
                        <br>
                        <br>
                        <a href="https://xyx6.top/"> XYX</a>
                        <br>
                        <br>
                        <a href="http://winddraw.top/">winddraw</a>
                        <br>
                        <br>
                        <a href="https://wush.top/">Pteromyini的窝窝</a>
                    </div>
                </div>
                <div class="five wide column">
                    <div class="top ui attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text">菜树，程序小白，编程爱好者</p>
                        <p class="m-text">喜欢小动物，尤其是猫，田园猫</p>
                        <p class="m-text">希望结识志趣相投的铁子们.</p>
                    </div>
                    <!--标签-->
                    <div class="ui attached segment">
                        <div class="ui orange basic left pointing label m-margin-tb-tiny">编程</div>
                        <div class="ui orange basic left pointing label m-margin-tb-tiny">游戏</div>
                        <div class="ui orange basic left pointing label m-margin-tb-tiny">撸猫</div>
                        <div class="ui orange basic left pointing label m-margin-tb-tiny">看书</div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">Python</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">MYSQL</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
                    </div>
                    <!--连接-->
                    <div class="ui bottom attached segment">
                        <a href="https://github.com/caishuspace" target="_blank" class="ui github circular icon button" data-content="https://github.com/caishuspace" data-position="bottom center"><i class="github icon"></i></a>
                        <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                        <a href="#" class="ui qq circular icon button" data-content="1736862060" data-position="bottom center"><i class="qq icon"></i></a>

                    </div>
                    <div class="ui wechat-qr flowing popup transition hidden">
                        <img src="../static/images/wechat.png" th:src="@{/images/wechat.png}" alt="" class="ui rounded image" style="width: 120px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <!--底部脚本元素111-->
    <footer th:replace="_fragments :: footer"></footer>

    <th:block th:replace="_fragments :: script"></th:block>

    <script>
        $('.menu.toggle').click(function() {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.qq').popup({
            on : 'click'
        });

        $('.github').popup({
            on : 'click'
        });

        $('.steam').popup({
            on : 'click'
        });

        $('.wechat').popup({
            popup : $('.wechat-qr'),
            on : 'click',
            position: 'bottom center'
        });
    </script>
</body>
</html>